*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #faedcd;  
}

nav{
    
    align-items: end;
    height: 5%;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5%;
}
header{
    background: linear-gradient(45deg, #030027, #151E3F);
    font-size: 150%;
}

nav li {
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav_index {
    border-left: #faedcd 1px solid;
    border-right: #faedcd 1px solid;
    text-align: center;
    width: 15%;
}
/* Index.html */
body {
    background-color: #faedcd;
}


/* Antoine.html */
.title-antoine {
    text-align: center;
}
.title-antoine{
    font-weight: bold;
    font-size: 4vw;
    margin-top: 1%;
    text-decoration: overline underline;
}
.identite-antoine{
    background-color: #151E3F;
    margin-left: 5%;
    margin-right: 5%;
    padding-top: 0.5%;
    margin-top: 2%;
    transition: 1.5s;
}
.identite-antoine:hover{
    border-radius: 20px;
}
.identite-antoine h2{
    color: #faedcd;
    font-size: 2vw;
}
.identite-antoine img{
    width: 15%;
    margin-bottom: 5%;
    border-radius: 50%;
    transition: 0.5s;
}
.identite-antoine img:hover{
    width: 17%;
    transform: rotate(5deg);
}
.contenu-identite-antoine{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
}
.texte-identite-antoine{
    background-color: #faedcd;
    padding: 2%;
    border-radius: 20px;
    font-size: 1.5vw;
    line-height: 200%;
    text-align: center;
    transition: 0.5s;
}
.texte-identite-antoine:hover { 
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.9);
}
.grid-antoine{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-column-gap: 20px;
    justify-items: center;
    align-items: center;
    margin: 5%;
}
.resume-antoine{
    background-color:#151E3F;
    height: 100%;
    padding: 2%;
    transition: 0.5s;
}
.resume-antoine:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.resume-antoine h2 {
    color: #faedcd;
    text-align: center;
    font-weight: bold;
    font-size: 2vw;
}
.resume-antoine p{
    color: #faedcd;
    margin-top: 3%;
    font-size: 1.3vw;
}
.resume-antoine img{
    width: 60%;
    margin-top: 3%;
}
.hobbies-antoine{
    background-color: #ffffff;
    padding: 2%;
    padding-bottom: 20%;
    transition: 0.5s;
}
.hobbies-antoine p{
    font-size: 1.3vw;
}
.hobbies-antoine:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.contact-antoine{
    background-color: #151E3F;
    padding: 2%;
    margin: 5%;
    transition: 0.5s;
}
.contact-antoine:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.contact-antoine h2{
    color: #faedcd;
    text-align: center;
    font-size: 2vw;
}
.contact-antoine p{
    color: #faedcd;
    margin-top: 3%;
    text-align: center;
    font-size: 1.3vw;
}
.tel-antoine{
    text-decoration: underline;
    font-weight: bold;
}
.youhou{
    text-decoration: underline;
    font-weight: bold;
}

@media screen and (max-width: 780px){
    .grid-antoine{
        display: grid;
        grid-template-columns: 1fr;
        grid-row-gap: 20px;
    }
    .hobbies-antoine{
        padding: 2%;
    }
}


/* Noah.html */


h1 {
    margin-top: 4%;
    text-align: center;
    font-size: 3vw;
}

h2 {
    margin: 3% 2%;
    text-align: center;
    font-size: 2vw;
}

.noah {
    display: flex;
    border-radius: 50px;
    color: #faedcd;
    margin: 4% 15% 10% 15%;
    gap: 8%;
    background-color: #030027;
    
}

.noah img {
    margin: 4%;
    border-radius: 25% 10%;
    max-width: 17%;
	height: auto;
}

.noah p {
    font-size: 1.3vw;
    margin: 4%;
    text-align: justify;
}

#rs_noah  {
    gap: 5%;
}

#rs_noah div {
    width: 100%;
}

#image_gauche {
    margin: 4% 0% 4% 4%;
}

#image_droite {
    margin: 4% 4% 4% 0%;
}

.icons {
    display: flex;
    gap: 9%;
    justify-content: center;
    font-size: 2.5vw;
    text-align: center;
    margin-top: 18%;
}
