*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style-type: none;
}

a {
    color: #faedcd;  
}

nav{
    
    align-items: end;
    height: 5%;
    
}

nav ul {
    display: flex;
    justify-content: center;
    gap: 5%;
}
header{
    background: linear-gradient(45deg, #030027, #151E3F);
    font-size: 150%;
}

nav li {
    margin-top: 1%;
    margin-bottom: 1%;
}

.nav_index {
    border-left: #faedcd 1px solid;
    border-right: #faedcd 1px solid;
    text-align: center;
    width: 15%;
}
/* Index.html */
body {
    background-color: #faedcd;
}


/* Antoine.html */
h1 {
    text-align: center;
}
.title-antoine{
    font-weight: bold;
    font-size: 48px;
    margin-top: 2%;
    text-decoration: overline underline;
}
.grid-antoine{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    margin-top: 3%;
    justify-items: center;
}
.resume-antoine{
    background-color:#151E3F;
    height: 100%;
    padding: 2%;
    margin-left: 5%;
    transition: 0.5s;
}
.resume-antoine:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.resume-antoine h2 {
    color: #faedcd;
    text-align: center;
    font-weight: bold;
    font-size: xx-large;
}
.resume-antoine p{
    color: #faedcd;
    margin-top: 3%;
}
.resume-antoine img{
    width: 60%;
    margin-top: 3%;
}
.hobbies-antoine{
    background-color: #ffffff;
    padding: 25%;
    transition: 0.5s;
}
.hobbies-antoine:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.contact-antoine{
    background-color: #151E3F;
    padding: 5%;
    margin-right: 10%;
    transition: 0.5s;
}
.contact-antoine:hover{
    border-radius: 20px;
    box-shadow: 10px 10px 20px rgba(0, 0, 0, 0.5);
}
.contact-antoine h2{
    color: #faedcd;
    text-align: center;
    font-size: xx-large;
}
.contact-antoine p{
    color: #faedcd;
    margin-top: 3%;
}




/* Noah.html */
h1 {
    text-align: center;
}